# Byte-compiled / optimized / DLL files
__pycache__/
Lab-I-Dimensionality-Reduction/workshop_solution/.ipynb_checkpoints/
Lab-II-Clustering/workshop_solution/.ipynb_checkpoints/

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/


# Others
.DS_Store

