# Byte-compiled / optimized / DLL files
__pycache__/
Lab-I-Dimensionality-Reduction/workshop_solution/.ipynb_checkpoints/
Lab-II-Dimensionality-Reduction/workshop_solution/.ipynb_checkpoints/

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
main.py

# Others
.DS_Store

