# Byte-compiled / optimized / DLL files
__pycache__/
workshop_solution/.ipynb_checkpoints/

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
main.py

# Others
.DS_Store

